$primary: rgb(168, 159, 253);
$secondary: rgb(78, 47, 225);
$primaryAlt: rgb(72, 62, 166);
$secondaryAlt: rgb(134, 124, 218);
$green: rgb(0, 204, 85);
$lightgrey: rgb(187, 187, 187);
$grey: rgb(119, 119, 119);

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1.4s step-start 0s infinite;
}
